* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.main-visual {
  width: 100%; /* 横幅いっぱい */
  height: 400px; /* 高さ300px */
  background-image: url(img2/mv.jpg);
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: bottom; /* 背景画像を中央に配置 */
}

.main-visual-name {
  padding: 20px; /* 上側の外側の余白 */

}

main {
  width: 840px; /* 横幅800px */
  margin: 50px auto; /* 要素の中央揃え */
}

.blog-heading {
  border-bottom: 8px solid #f7f7f7;
  text-align: center;
  line-height: 0.6;
}

.blog-box {
  padding-top: 30px;
}

.blog-item{
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}

